@model Movie.Models.Customers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">

    <thead>

            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>

    </th>

    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.BirthDate</td>
    </tr>

</table>
